.container{
        display: inline-block;
        width: 200px;
        overflow: hidden;

}
.visible-box{
    background-color: aqua;
    height: 75%;
    margin: auto;
    overflow: scroll;
    justify-content: center;
    width: max-content;
    display: flex;

}
body{
    background-color: black;
    
}

.card {
      /* display: grid; */
  /* grid-gap: 10px; */
  /* grid-template-columns:5; */
    }